body{

}
#heading{
  margin-top:50px;
}
.office{
  height:500px;
  width:100%;
  opacity:.7;
  position:relative;
}
#heading h2{
  position:absolute;
  top:170px;
  left:35%;
  width:100%;
  font-size:4em;
  color:gray;
}
#about{
  margin-left:10px;
  margin-right:10px;
}
img{
  margin-right:10px;
  border-radius:10px;
}
.p1{
  float:left;
}
.p2{
  float:right;
}
.p3{
  float:left;
}
#service{

}
#contracts, #dog, #health{
  border:1px solid black;
}
li{
  list-style-type:none;
}
