@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
  font-family:'Open Sans';
}
a{
  cursor:pointer;
}
#navBar{
  border-left:1px solid #888888;
  border-top:1px solid white;
  background-color:white;
}
#left, #right{
  z-index:-1;
  top:0;
  bottom:0;
  width:55px;
  height:;
  background:#eaeaea;
  position:fixed;
  box-shadow:6px 0 15px -4px #888888, -6px 0 8px -4px #888888;
}
#left{
  left:0;
}
#right{
  right:0;
}
#navBar aside{
  position:absolute;
  top:15px;
  right:100px;
  font-size:1.3em;
}
aside > a{
  color:#339999;
  margin-right:10px;
}
aside > a:hover{
  color:#40568f;
  text-decoration:none;
}
.active{
  text-decoration:underline;
}
.navbar{
  margin-top:50px;
  height:100px;
  background-color:#339999 !important;
  -webkit-box-shadow:0 13px 6px -5px #888888;
  -moz-box-shadow:0 13px 6px -5px #888888;
  box-shadow:0 13px 6px -5px #888888;
}
.nav-item{
  color:#f3f3f3 !important;
}
.nav-item:hover{
  background-color:#40568f !important;
}
.splashImg{
  margin-left:70px;
  margin-top:5px;
  width:88%;
}
#about{
  margin-top:50px;
  margin-left:75px;
  margin-right:75px;
}
.debbie{
  float:left;
  border-radius:20px;
  margin-right:10px;
}
#about > h3{
  color:#40568f;
  font-weight:bold;
  text-align:center;
}
#about > h5{
  color:#339999;
  font-weight:bold;
}
#coverage{
  margin-left:75px;
  margin-right:75px;
  border:5px solid black;
}
#fHeader{
  border-bottom:5px solid black;
  height:100px;
}
#fHeader > p{
  padding-left:10px;
}
#fHeader > aside{
  float:right;
  padding-right:10px;
}
form{
  padding:15px;
}
.fa-asterisk{
  color:red;
}
input{
  outline:none;
}
form > aside{
  float:right;
}
#button{
  margin-left:400px;
  cursor:pointer;
}
#coverage{
  margin-top:50px;
}
#coverage > h5{
  color:#339999;
  font-weight:bold;
  text-align:center;
}
footer{
  width:100%;
  height:auto;
  background-image:url('../images/footer.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  padding-top:20px;
  margin-top:0;
}
.container{
  position:relative;
  z-index:2;
}
.container > h5{
  font-weight:700;
  font-size:18px;
  color:#69c;
}
address{
  color:#fff;
  font-size:14px;
  line-height:24px;
}
.social{
  margin:0;
  padding:0;
}
.social li{
  list-style:none;
  display:inline;
  font-size:1.5em;
  margin-right:10px;
}
.social li a{
  color:#69c;
}
footer small{
  color:#fff;
  margin-left:25em;
}
footer:after{
  background-position:center center;
  background-repeat:repeat;
  background-color:rgba(64,86,143,.8);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  z-index:1;
  content:'';
}
button{
  cursor:pointer;
}
@media only screen and (max-width:1048px){
  .splashImg{
    width:85%;
    margin-left:75px;
  }
}
@media only screen and (max-width:991px){
  .navbar-brand > img{
    margin-top:-50px;
  }
  .navbar-nav > a{
    color:#339999 !important;
  }
  .nav-item:hover{
    color:white !important;
  }
  .navbar-nav{
    margin-top:-50px;
    background-color:white;
    position:absolute;
    right:0;
    width:200px;
    text-align:center;
  }

}
@media only screen and (max-width:875px){
  .splashImg{
    width:83%;
  }
  .navbar-brand > img{
    margin-top:-40px;
  }
}
@media only screen and (max-width:770px){
  .splashImg{
    width:80%;
  }
  .navbar-brand > img{
    width:30%;
    margin-top:-50px;
  }
  .container > small{
    margin-left:0;
  }
}
@media only screen and (max-width:675px){
  #fHeader{
    font-size:.9em;
  }
}
@media only screen and (max-width:655px){
  .splashImg{
    width:77%;
  }
  .navbar-brand > img{
    width:30%;
    margin-top:-30px;
  }
  footer > small{
    margin-left:0em;
  }
}
@media only screen and (max-width:620px){
  #fHeader{
    font-size:.8em;
  }
}
@media only screen and (max-width:550px){
  #fHeader > aside{
    float:left;
  }
  #fHeader{
    font-size:1em;
  }
  #fHeader > p{
    display:none;
  }
}
@media only screen and (max-width:500px){
  .splashImg{
    width:70%;
  }
  .navbar-brand > img{
    width:30%;
    margin-top:-20px;
  }
  footer small{
    margin-left:0em;
  }
}
